@model DevNewsBot.App.ViewModel.ArticlesViewModel
@{
    ArgumentNullException.ThrowIfNull(Model);
    var end = Model.Cursor + Model.ArticlesQuantity;
    var index = 0;
 }
 @if (Model.Articles is {Count: 0})
 {
    return;     
 }


@for (var i = Model.Cursor; i <= end; i++)
{
     <div
         class="card mb-4 ms-1" aria-hidden="true"
         @if (i == end)
         {
             // conditional attributes
             <text>
                 hx-get="@Url.Page("Index", new { cursor = end + 1 })"
                 hx-trigger="revealed"
                 hx-swap="afterend"
             </text>
         }>
         @if (i < end)
         {
             var article = Model.Articles[index];
            <div class="card-body bg-dark text-white">
                <div class="h6 card-title text-center ">
                    <a href="@article.Link">@article.Title</a>
                    <p>@article.Content</p>
                </div>
            </div>
         }

     </div>
     
     index = index + 1;
 }

